* {
  box-sizing: border-box;
}
body { 
    background: url("../images/crabNed.jpg") no-repeat center fixed; 
    background-size: cover;
    font-family: arial;
}

h1 {
    text-align: center;
    font: bold 35px arial;
    color: white;
}

#quiz {
    text-indent: 10px;
    display:none;
}

.button {
    border: 2px solid white;
    border-radius:8px;
    width: 100px;
    height: 40px;
    text-align: center;
    padding: 5px 5px 5px 5px;
    position: relative;
    float: right;
    background-color: green;
}

.button a {
    text-decoration: none;
    color: white;
}
.button:hover{
    background-color: red;
    border: 2px solid black;
    color: black;
}
#container {
    width:50%;
    margin: 100px auto;
    padding: 0 25px 40px 10px;
    background-color: grey;
    border:4px solid white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    box-shadow: 10px 10px 10px black;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
li {
    margin: 5px 0px 5px 0px;
}

#prev {
    display:none;
}

#start {
    display:none;
}
