* {
  box-sizing: border-box;
}

body { 
    background: url("../images/crabNed.jpg") no-repeat center fixed; 
    background-size: cover;
    font-family: arial;
    font-size: 18px;
}

#start ul li { 
  display: inline;
}

nav {
  position: relative;
  height: 10%;
  padding: 1em;
}

nav ul li {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2em;
  font-family: arial;
  margin: 15px 15px 0px 0px;
}

nav ul li:first-child {
  float: right;
}

nav a {
  color: white;
  border-radius: 8px;
  border: 1.5px solid white;
  padding: 8px;
  text-decoration: none;
}

#start:hover{
    border: 4px solid #67BF53;
    color: #67BF53;
}

h1 {
    text-align: center;
    font: bold 35px arial;
    color: white;
}

#title {
  margin: 10px 0px 15px 0px;
}

#quiz {
    text-indent: 10px;
    display:none;
}

button {
    border: 2px solid white;
    border-radius:8px;
    width: 100px;
    height: 40px;
    text-align: center;
    padding: 5px 5px 5px 5px;
    position: relative;
    float: right;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font: bold 15px arial;
}

button:hover{
    background-color: red;
}

#container {
    width:60%;
    margin: 100px auto;
    padding: 0 25px 40px 10px;
    background-color: #67BF53;
    border:4px solid white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    box-shadow: 10px 10px 10px black;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
li {
    margin: 5px 0px 5px 0px;
}

#scoreOutput{
  margin: 20px 0px 0px 10px;
  font-size: 25px;
}

