* {
  box-sizing: border-box;
}
body { 
    background: url("../images/crabNed.jpg") no-repeat center fixed; 
    background-size: cover;
}
header {
  padding-bottom: 40px;
}
#gameIntro {
  margin: 5px auto 5px auto;
}
h2 {
  margin-left: 150px;
  font: bold 30px arial;
  color: white;
}
nav {
  padding: 20px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  font: bold 22px arial;
}
ul li {
  display: inline;
}
nav ul li:last-child {
  float: right;
/*  Remember to ask mentor why this is formatting like this, and why I used below  */
  padding-right: 40px;
}
section {
  background-color: #0C296D;
  height: 350px;
  width: 60%;
  margin: 20px auto 15px auto;
  padding: 35px 20px 20px 10px;
  border-radius: 8px;
}
#questionContainer {
  margin: 0px auto 0px auto;
  background-color: white;
  height: 90%;
  width: 90%;
  border: 4px solid grey;
  border-radius: 8px;
}
#output {
  height: 100px;
  width: 60%;
  margin: 0px auto 0px auto;
  border-radius: 8px;
  background-color: red;
  color: white;
  font: bold 20px arial;
  padding: 10px;

}